body {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 5rem;
  overflow-x: hidden;
  background: #3e3e3e;
}
.dashboard_heading {
  color: #dfdfdf;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 auto;
  display: 100%;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 0.3rem;
  box-shadow: inset 0px 0px 10px #adcbff;
}
.grid_list {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  padding: 0.95rem;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  box-shadow: inset 0px 0px 8px #696969;
}
.ol_list,
.ul_list {
 list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: center;

}
.ol_list button
{
  color: #141414;
  padding: 0.5rem;
  font-size: 1.1rem;
  cursor: pointer;
  justify-content: space-between;
  border: none;
  background:  rgb(230, 230, 230);
  border-radius: 0.2rem;
  box-shadow: inset 0px 0px 8px #616161;
  width: 100%;
  max-width: 6.5rem;
  font-weight: 800;
  transition: all 0.3s ease;
  line-height: 1rem;
  margin-bottom: .5rem;
  text-align: left;
}
.ul_list button{
  color: #141414;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  justify-content: space-between;
  border: none;
  background:  rgb(239, 239, 239);
  border-radius: 0.2rem;
  box-shadow: inset 0px 0px 8px #696969;
  width: auto;
  font-weight: 800;
  transition: all 0.3s ease;
  line-height: 1rem;
  margin-bottom: .5rem;
  text-align: left;
}
.ol_list button:hover {
  transform: scale(0.95);
  color: #ffffff;
  box-shadow: inset 0px 0px 1rem #e4e4e4;
  background:  none;

}


.projects_list_title,
.employee_count_title {
  color: #e7e7e7;
  text-transform: capitalize;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 0.2rem;
  /* max-width: 10rem; */
  width: auto;
  margin: 1rem auto;
  text-align: center;
  box-shadow: inset 0px 0px 10px #636363;
}


.empty_message {
  color: #d10000;
  font-size: 0.95rem;
  text-align: center;
  background: #1b1b1b;
  border-radius: .2rem;
  padding: .3rem;
  margin: .5rem auto;
  width: auto;
  font-weight: bold;
  text-transform: capitalize;
}


.display_table {
  margin: 2rem auto;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: .3rem;
  box-shadow: inset 0 0 .3rem #7f7f7f;
  flex-direction: column;
  
}
.projects_titles {
  color: #ffffff;
  font-size: 1.1rem;
  background:  dodgerblue;
  font-weight: bold;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  border-radius: 0.3rem;
  padding: .3rem;
  margin: 1rem auto;
  box-shadow: inset 0 0 .3rem #3a3a3a;
}
.table_list {
  margin: 1rem auto;
  width: auto;
  border-radius: 0;
  overflow: hidden;
  box-sizing: border-box;
  overflow: hidden;
  margin: .5rem auto;

}
.thead,
.thead_tr th {
  padding: 0.4rem;
  /* background-color: #03171f; */
  background: linear-gradient(135deg, #00d2ff, #3a7bd5);
  align-items: center;
  border-spacing: 0.4rem;
  border: none;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.2rem;
  font-family: system-ui;
  text-transform: capitalize;
  font-weight: bold;
  color: #001e22;
}
.tbody,
.tbody_tr td {
  background: #303030;
  color: #ffffff;
  padding: 0.2rem;
  border-radius: 0.2rem;
  border: none;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  font-family: system-ui;
  text-transform: capitalize;
  box-shadow: inset 0 0 0.2rem rgb(135, 135, 135);
}
