* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS";
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 5rem;
  overflow-x: hidden;
  background: #3e3e3e;
}
.successMsg {
  color: #00ff55;
  padding: .5rem;
  border-radius: .4rem;
  font-size: 1rem;
  box-shadow: inset 0 0 8px rgba(234, 246, 255, 0.6);
  margin-bottom: 10px;
  font-family: "Lucida Sans";
}
.Form_Container {
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  border: none;
  padding: 0%;
  margin: auto;
}
.form_section {
  margin-left: 1rem;
  padding-left: 0.5rem;
  box-shadow: inset 0 0 8px rgba(234, 246, 255, 0.6);
  width: 20rem;
  border-radius: 0.7rem;
  align-items: center;
  color: #bfc2c5;
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-bottom: 1rem;
}
.heading {
  font-size: 1.15rem;
  text-align: center;
  margin-bottom: 1rem;
  color: #e6ebef;
  letter-spacing: 0.3px;
  /* display: flex; */
  padding: auto;
  font-family: "Lucida Sans";
  text-transform: uppercase;
}
.input_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: auto;
  /* border: 1px solid #f5faf5ed; */
  padding: 1rem;
  align-items: center;
}
.form_input,
.select_optn {
  width: 100%;
  max-width: 10rem;
  height: 32.5px;
  text-align: center;
  border-radius: 0.4rem;
  border: none;
  box-shadow: inset 0 0 6px rgb(93, 93, 93);
  background: #262626;
  color: #dbdbdb;
  font-size: 1rem;
  font-size: 0.75rem;
  padding-right: 1rem;
  font-family: "Trebuchet MS";
  text-transform: capitalize;
}
.Options{
  background:none;
  border: none;
  border-radius: .4rem;
  box-shadow: inset 0 0 10px rgb(215, 215, 215);
  color: #dbdbdb;
  width: 10rem;
}
.form_input::placeholder {
  color: #dbdbdb;
}
input[type="date"] {
  color: #dbdbdb;
  text-transform: uppercase;
}
/* this section i was learn it from stakOveraflow ::-webkit-calendar-picker-indicator*/
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  text-align: center;
}
.highlight {
  border: none;
  background: none;
  color: #e6ebef;
  box-shadow: inset 0 0 8px rgba(234, 246, 255, 0.6);

}
.btn_section {
  display: flex;
  gap: 0.5rem;
  padding: 0%;
  margin: auto;
}
.btn_feature {
  border: none;
  margin-top: 1rem;
  min-width: 55px;
  height: 28px;
  cursor: pointer;
  border-radius: 0.3rem;
  font-weight: bold;
  color: #e5e5e5;
  background: hsl(0, 0%, 21%);
  transition: 0.2s;
  box-shadow: inset 0 0 8px dodgerblue;
  border: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  /* padding: 0.2rem; */
}
.btn_feature:hover {
  transform: scale(0.9);
  color: #e5e5e5;
  box-shadow: inset 0 0 6px #ffffff;
  background: linear-gradient(135deg, #0d47a1, #1976d2, #42a5f5);
}

.display_table {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2rem;
}
.table_list {
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  border-radius: 0; /* important */
  overflow: hidden;
  box-sizing: border-box;
  overflow: hidden;
}
/* table{
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0.2rem; 
} */
.thead,
.thead_tr th {
  padding: 0.4rem;
  /* background-color: #03171f; */
  background: linear-gradient(135deg, #00d2ff, #3a7bd5);
  align-items: center;
  border-spacing: 0.4rem;
  border: none;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.2rem;
  font-family: system-ui;
  text-transform: capitalize;
  font-weight: bold;
  color: #001e22;
}
.tbody,
.tbody_tr td {
  background: #303030;
  color: #ffffff;
  padding: 0.2rem;
  border-radius: 0.2rem;
  border: none;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  font-family: system-ui;
  text-transform: capitalize;
  box-shadow: inset 0 0 0.2rem rgb(135, 135, 135);
}
td.firstname_sort_highlight {
  box-shadow: inset 0 0 0.4rem dodgerblue;
  background: #5a5a5a;
  /* padding: 0.6rem; */
}

td.salary_sort_highlight {
  box-shadow: inset 0 0 0.4rem dodgerblue;
  background: #5a5a5a;
}

td.tbody_btns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: auto;
  border: none;
  background: none;
  box-shadow: none;
}
.Del_user {
  /* justify-self: start; */
  border-radius: 0.3rem;
  position: relative;
  display: inline-flex;
  align-items: center;
  border: none;
  background: none;
}
.Edit_user {
  /* justify-self: end; */
  border: none;
  background: none;
  border-radius: 0.3rem;
  position: relative;
  display: inline-flex;
  align-items: center;
}

.Del_user i {
  background: none;
  border: none;
  box-shadow: inset 0 0 8px rgba(126, 130, 133, 0.6);
  padding: 0.2rem;
  font-size: 0.85rem;
  cursor: pointer;
  font-weight: 900;
  color: oklab(100% 0 -0.00011);
  border-radius: 0.2rem;
}
.Edit_user i {
  background: none;
  border: none;
  box-shadow: inset 0 0 8px rgba(126, 130, 133, 0.6);
  padding: 0.2rem;
  font-size: 0.85rem;
  cursor: pointer;
  font-weight: 900;
  color: oklab(100% 0 -0.00011);
  border-radius: 0.2rem;
}
.Del_user i:hover {
  color: #d11313;
  box-shadow: none;
}
.Edit_user i:hover {
  color: hsl(196, 100%, 68%);
  box-shadow: none;
}
.sort_icon_grid_box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: auto;
  border: none;
  box-shadow: inset 0 0 8px rgba(234, 246, 255, 0.6);
  border-radius: 0.2rem;
  padding: 0.2rem;
}
.sort_icon_name {
  justify-self: start;
  border-radius: 0.3rem;
  display: inline-flex;
  align-items: center;
  position: relative;
  margin-left: 0.5rem;
  gap: 0.5rem;
}
.sort_icon_salary {
  margin-right: 3.4rem;
  justify-self: end;
  border-radius: 0.3rem;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
}
.shotOrder {
  background: none;
  border: none;
}
.shotOrder i {
  background: none;
  border: none;
  box-shadow: inset 0 0 8px dodgerblue;
  /* border: none; */
  font-size: .85rem;
  cursor: pointer;
  color: #ffffff;
  border-radius: 0.2rem;
  padding: 0.1rem;
  /* width: 1.75rem; */
  /* margin: 0%;
  padding: 0%; */
}
.shotOrder i:hover {
  background: linear-gradient(135deg, #0d47a1, #1976d2, #42a5f5);
  color: rgb(255, 255, 255);
}
.icon_title {
  display: none;
  position: absolute;
  top: -26px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #030303;
  color: rgb(223, 223, 223);
  border: none;
  box-shadow: inset 0 0 2px rgb(255, 255, 255);
  padding: 0.2rem;
  font-size: 0.58rem;
  border-radius: 4px;
  white-space: nowrap;
  text-transform: capitalize;
}
.sort_icon_name:hover .icon_title,
.sort_icon_salary:hover .icon_title {
  display: block;
}
/* .sort_Asc_name,.sort_Desc_name,.sort_Asc_salary,.sort_Desc_salary */
