* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS";
}
body {
  padding-top: 70px;
  background: #0b0f1a;
  color: #e5e7eb;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 2.75rem;
  background: rgb(55, 55, 55);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 3px dodgerblue;
  padding: 0 1.5rem;
  z-index: 1000;
}
.nav-left,
.nav-right,
span {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-weight: bold;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}
.navbtn {
  text-decoration: none;
  font-weight: 600;
  color: #e5e7eb;
  padding: 0.4rem 0.7rem;
  border-radius: 0.4rem;
  transition: all 0.3s ease;
}
.navbtn,
i {
  background: none;
  /* border: 1px solid rgb(255, 255, 255); */
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  text-transform: capitalize;
  color: #ffffff;
  padding: 0.3rem;
  transition: 0.2s;
  box-shadow: inset 0 0 8px rgba(91, 91, 91, 0.6);
}
.navbtn:hover {
  transform: scale(0.9);
  color: #e5e5e5;
  box-shadow: inset 0 0 6px #ffffff;
  background: linear-gradient(135deg, #0d47a1, #1976d2, #42a5f5);
}
.icon-btn {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .header {
    padding: 0 1rem;
  }
  .nav-left,
  .nav-right {
    gap: 1rem;
  }
  .navlink {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 0.5rem;
  }
  .nav-left,
  .nav-right {
    width: 100%;
    justify-content: center;
    padding: 0.3rem 0;
  }
}
